@model IEnumerable<Customer>

<div class="container">
    <table class='table table-striped'>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Orders</th>
            <th>Actions</th>
        </tr>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerId</td>
                <td>@customer.Name</td>
                <td>@customer.Address</td>
                <td>
                    @if (@customer.Orders != null)
                    {
                        <p>@string.Join(", ", @customer.Orders.Select(order => $"Order{order.OrderId}"))</p>
                    }
                </td>
                <td></td>
            </tr>
        }
    </table>
</div>